@theme {
  --color-primary: var(--primary);

  --color-bg-base: var(--bg-base);
  --color-bg-base-gradient: var(--bg-base-gradient);
  --color-bg-surface: var(--bg-surface);
  --color-bg-surface-gradient: var(--bg-surface-gradient);
  --color-bg-surface-hover: var(--bg-surface-hover);

  --color-border-theme: var(--border-theme);

  --color-text-heading: var(--text-heading);
  --color-text-base: var(--text-base);
  --color-text-muted: var(--text-muted);
  --color-text-hover: var(--text-hover);

  --color-text-blue: var(--text-blue);
  --color-text-green: var(--text-green);
  --color-text-red: var(--text-red);
}

@layer base {
  :root {
    --primary: #91712d;

    --bg-base: #b1b1b1;
    --bg-base-gradient: linear-gradient(135deg, #dcdcdc 30%, #c0c0c0 100%);
    --bg-surface: #dddddd;
    --bg-surface-gradient: linear-gradient(180deg, #b0b0b0 30%, #a1a1a1 100%);
    --bg-surface-hover: #e9e9e9;

    --border-theme: #6d6d6d;

    --text-heading: #111827;
    --text-base: #374151;
    --text-muted: #6b7280;
    --text-hover: #9ca3af;
    --text-blue: #2a57b1;
    --text-green: #39c05f;
    --text-red: #ff3333;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #d4af60;

      --bg-base: #0c1510;
      --bg-base-gradient: linear-gradient(135deg, #0c1510 30%, #193726 100%);
      --bg-surface: #142017;
      --bg-surface-gradient: linear-gradient(180deg, #142017 30%, #1d2f22 100%);
      --bg-surface-hover: #1a281e;

      --border-theme: #1f3024;

      --text-heading: #ffffff;
      --text-base: #e5e7eb;
      --text-muted: #9ca3af;
      --text-hover: #6b7280;
      --text-blue: #2a57b1;
      --text-green: #39c05f;
      --text-red: #ff3333;
    }
  }

  html,
  body,
  #app {
    background: var(--bg-base);
    overscroll-behavior: none;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }
}
